{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Student{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
		<br>	
    <label for="class">Class</label>
    <input name="class" id="class" value="{{ request.form['class'] }}" required>
		<br>
		<label for="password">Password</label>
    <input name="password" id="password" value="{{ request.form['password'] }}" required>
		<br>
		<input type="Submit" value="Save">
  </form>
{% endblock %}