{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Upload student and score csv file{% endblock %}</h1>
{% endblock %}

{% block content%}
	<p>Student</p>
	<form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="student"></p>
      <p><input type="submit" value="Submit"></p>
  </form>
	<hr>
	<p>Score</p>
	<form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="score"></p>
      <p><input type="submit" value="Submit"></p>
  </form>
	<hr>
{% endblock %}